body {
    font-family: 'Arial', sans-serif;
    background-color: #722f37;
    margin: 0;
    padding: 20px;
    color: #efdfbb;
}

h1 {
    font-family: 'Times New Roman', sans-serif;
    color: #efdfbb;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

details summary {
    background-color: #efdfbb;
    color: #2e0b2f;
    padding: 12px 16px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

details summary:hover {
    background-color: #722f37;
}

details {
    max-width: 600px;
    margin: 0 auto 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #efdfbb;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

details p {
    padding: 10px 16px;
    margin: 0;
    font-size: 16px;
    color: #2e0b2f;
    background-color: #efdfbb;
    border-top: 1px solid #ddd;
}

details ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

details ul li {
  padding: 10px 16px;
  margin: 0;
  font-size: 16px;
  color: #2e0b2f;
  background-color: #efdfbb;
  border-top: 1px solid #000000;
}
.navbar {
    background-color: #252525;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    height: 60px;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: opacity 0.3s ease;
  }
  
  .nav-links a:hover {
    opacity: 0.6;
  }
  