body {
    font-family: 'Arial', sans-serif;
    background-color: #722f37;
    margin: 0;
    padding: 20px;
    color: #efdfbb;
}

h1 {
    font-family: 'Times New Roman', sans-serif;
    color: #efdfbb;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}


ul {
    max-width: 500px;
    margin: 0 auto;
    padding-left: 20px;
    background-color: #efdfbb;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 20px;
    list-style-type: none;
}

ul li {
    font-size: 18px;
    margin: 10px 0;
    color: #722f37;
    position: relative;
    padding-left: 24px;
}

ul li::before {
    content: "📧";
    position: absolute;
    left: 0;
}

.navbar {
    background-color: #252525;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    height: 60px;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: opacity 0.3s ease;
  }
  
  .nav-links a:hover {
    opacity: 0.6;
  }
  