<!DOCTYPE html>
<html lang="en">
    <head>
        <title>YELMUN'25</title>
        <style>
            body {
                font-family: 'Arial', sans-serif; 
            }
        </style>
        <link rel="stylesheet" href="../static/css/kadrostyle.css">
    </head>
    <body>
        <div class="navbar">
            <!-- Sağdaki bağlantılar -->
            <div class="nav-links">
              <a href="./">Ana Sayfa</a>
              <a href="./komiteler">Komiteler</a>
              <a href="./socialandmail">İletişim</a>
              <a href="./misyonumuz">Misyonumuz</a>
              <a href="./vizyonumuz">Vizyonumuz</a>
              <a href="./">Başvuru Formu</a>
            </div>
        </div>
        <img src="..\static\img\logobu.jpeg" width="80">
        <h1>KADROMUZ</h1>
        <details>
            <summary>Sekreterya Ekibi</summary>
            <ul>
                <li>Secretary General:</li>
                <li>Director General:</li>
                <li>Deputy Director General:</li>
                <li>Aca-advisory:</li>
                <li>Deputy Aca-Advisory:</li>
            </ul>
        </details>
        <details>
            <summary>Admin Ekibi</summary>
            <ul>
                <li>Head Of Admin:</li>
                <li>Other Admin Members:</li>
            </ul>
        </details>
        <details>
            <summary>Finans Ekibi</summary>
            <ul>
                <li>Head Of Finance:</li>
                <li>Other Finance Members:</li>
            </ul>
        </details>
        <details>
            <summary>Güvenlik Ekibi</summary>
            <ul>
                <li>Head Of Security:</li>
                <li>Head Of Security:</li>
                <li>Other Security Members:</li>
            </ul>
        </details>
        <details>
            <summary>Halkla İlişkiler</summary>
            <ul>
                <li>Head Of Public Relations:</li>
                <li>Deputy Head Of Public Relations:</li>
                <li>Other PR Members:</li>
            </ul>
        </details>
        <details>
            <summary>IT ve Sosyal Medya Ekibi</summary>
            <ul>
                <li>Head Of Media - IT:</li>
                <li>Head Of Design:</li>
                <li>Other Members:</li>
            </ul>
        </details>
        <details>
            <summary>Kriz Ekibi</summary>
            <ul>
                <li>Head Of CTM:</li>
                <li>Other CTM Members:</li>
            </ul>
        </details>
        <details>
            <summary>Lojistik Ekibi</summary>
            <ul>
                <li>Head Of Logistic:</li>
                <li>Other Logistic Members:</li>
            </ul>
        </details>
        <details>
            <summary>Organizasyon Ekibi</summary>
            <ul>
                <li>Head Of Organization:</li>
                <li>Deputy Head Of Organization:</li>
                <li>Other Organization Members:</li>
            </ul>
        </details>
        <details>
            <summary>Press Ekibi</summary>
            <ul>
                <li>Head Of Press:</li>
                <li>Other Press Members:</li>
            </ul>
        </details>
    </body>
</html>
