<!DOCTYPE html>
<html lang="en">
    <head>
        <title>YELMUN'25</title>
        <style>
            body {
                font-family: 'Arial', sans-serif; 
            }
        </style>
        <link rel="stylesheet" href="../static/css/kadrostyle.css">
    </head>
    <body>
        <div class="navbar">
            <!-- Sağdaki bağlantılar -->
            <div class="nav-links">
              <a href="./">Ana Sayfa</a>
              <a href="./komiteler">Komiteler</a>
              <a href="./socialandmail">İletişim</a>
              <a href="./misyonumuz">Misyonumuz</a>
              <a href="./vizyonumuz">Vizyonumuz</a>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSfgmshGeOw43Eburh_Xv-zIpLX-StK3V3IF4P3PGzu4yWWKOg/viewform">Başvuru Formu</a>
            </div>
        </div>
        <img src="..\static\img\logobu.jpeg" width="80">
        <h1>KADROMUZ</h1>
        <details>
            <summary>Sekreterya Ekibi</summary>
            <ul>
                <li>Secretary General: Nihal Dilekçi</li>
                <li>Director General: Ahmet Kul</li>
                <li>Deputy Director General: Sudenaz Yüksel</li>
                <li>Aca-advisory: Yiğit Martin</li>
                <li>Deputy Aca-Advisory: Elif Naz Çalhan</li>
            </ul>
        </details>
        <details>
            <summary>Admin Ekibi</summary>
            <ul>
                <li>Head Of Admin: Sude Mina Yılmaz</li>
                <li>Ayberk Kalkan</li>
                <li>Ecrin Berber</li>
                <li>İremnur Araç</li>
                <li>Mehmet Emin Sezgin</li>
                <li>Züleyha Yanar</li>
            </ul>
        </details>
        <details>
            <summary>Finans Ekibi</summary>
            <ul>
                <li>Head Of Finance: Zeynep Duman</li>
                <li>Berra Satılmış</li>
            </ul>
        </details>
        <details>
            <summary>Güvenlik Ekibi</summary>
            <ul>
                <li>Head Of Security: Efsa Süer</li>
                <li>Head Of Security: Tarık Atabey</li>
                <li>Elif Yüksel</li>
                <li>Muhammed Emin Damar</li>
            </ul>
        </details>
        <details>
            <summary>Halkla İlişkiler</summary>
            <ul>
                <li>Head Of Public Relations: Zeynep Y. Karakoç</li>
                <li>Deputy Head Of Public Relations: İrem Ödemiş</li>
                <li>Halil Örgüt</li>
                <li>Ebrar Dur</li>
                <li>Zeynep Akkaya</li>
                <li>Nur Özbakan</li>
                <li>Berre Gökbayrak</li>
            </ul>
        </details>
        <details>
            <summary>IT ve Sosyal Medya Ekibi</summary>
            <ul>
                <li>Head Of Media - IT: Hafsa Yaman</li>
                <li>Head Of Design: Melisa Müjde</li>
                <li>Elif Sude Çırpan</li>
                <li>İremnaz Şengül</li>
                <li>Eslem Adıgüzel</li>
            </ul>
        </details>
        <details>
            <summary>Kriz Ekibi</summary>
            <ul>
                <li>Head Of CTM: Anıl Kayraklıoğlu</li>
                <li>Vera Tepe</li>
                <li>Selinay Gençay</li>
                <li>Sudenas Kaya</li>
                <li>Yusuf Mert Uysal</li>
            </ul>
        </details>
        <details>
            <summary>Lojistik Ekibi</summary>
            <ul>
                <li>Head Of Logistic: Şevval Türk O.</li>
                <li>Kerime Nur Özer</li>
                <li>Emir Efe Türkseven</li>
                <li>Selim Arda</li>
            </ul>
        </details>
        <details>
            <summary>Organizasyon Ekibi</summary>
            <ul>
                <li>Head Of Organization: Zeynep Dülgeroğlu</li>
                <li>Deputy Head Of Organization: Ahmet Kağan Kayadibi</li>
                <li>Ayşe Betül Aydın</li>
                <li>Ayşenur Demirkır</li>
                <li>Berra Yavuzyiğit</li>
                <li>Elif Dündar</li>
                <li>Ervanur Özdemir</li>
                <li>Esma Çatallar</li>
                <li>Fatma Sarwari</li>
                <li>Hafsa Özdemir</li>
                <li>Halime Hacıoğlu</li>
                <li>Kübra Güvercin</li>
                <li>Nisa Yılmaz</li>
                <li>Rabia Özkan</li>
                <li>Safa Antar</li>
                <li>Sümeyye İlkin</li>
                <li>Yağmur Eğin</li>
                <li>Zehra Salih</li>
                <li>Zeynep Betül Kocabaş</li>
                <li>Aziz Yılmaz</li>
                <li>Ahmet Talha</li>
            </ul>
        </details>
        <details>
            <summary>Press Ekibi</summary>
            <ul>
                <li>Head Of Press: Zeynep Erva Birinci</li>
                <li>Ecrin Boyar</li>
                <li>Elif Gül Kaynar</li>
                <li>Zehra Çökren</li>
            </ul>
        </details>
    </body>
</html>