<!DOCTYPE html>
<html lang="en">
    <head>
        <title>YELMUN'25</title>
        <style>
            body {
                font-family: 'Arial', sans-serif; 
            }
        </style>
        <link rel="stylesheet" href="../static/css/komitestyle.css">
    </head>
    <body>
        <div class="navbar">
            <!-- Sağdaki bağlantılar -->
            <div class="nav-links">
              <a href="./">Ana Sayfa</a>
              <a href="./kadromuz">Kadromuz</a>
              <a href="./socialandmail">İletişim</a>
              <a href="./misyonumuz">Misyonumuz</a>
              <a href="./vizyonumuz">Vizyonumuz</a>
              <a href="./">Başvuru Formu</a>
            </div>
        </div>
        <img src="..\static\img\logobu.jpeg" width="80">
        <h1>KOMİTELERİMİZ</h1>
        <details>
            <summary>UNESCO</summary>
            <img src="..\static\img\unesco.jpeg" width="200">
            <ul>
                <li>Gündem: Kültür hırsızlığı ve uluslararası eser iadeleri</li>
                <li>Chair:</li>
                <li>Co-Chair:</li>
            </ul>
        </details>
        <details>
            <summary>UNICEF</summary>
            <img src="..\static\img\unicef.jpeg" width="200">
            <ul>
                <li>Agenta Item: Protecting the rights of children in Gaza under International Humanitarian Law</li>
                <li>Chair:</li>
                <li>Co-Chair:</li>
            </ul>
        </details>
        <details>
            <summary>JCC</summary>
            <img src="..\static\img\jcc.jpeg" width="200">
            <ul>
                <li>Agenta Item: Third Crusade</li>
                <li>USG:</li>
                <li>The Crusader Cabinet Chair:</li>
                <li>The Crusader Cabinet Co-Chair:</li>
                <li>The Ayyubid Cabinet Chair:</li>
                <li>The Ayyubid Cabinet Co-Chair:</li>
            </ul>
        </details>
        <details>
            <summary>UNODC</summary>
            <img src="..\static\img\unodc.jpeg" width="200">
            <ul>
                <li>Gündem: Altın Üçgen bölgesindeki uyuşturucu üretimi ve uluslararası alandaki ticaretinin yol açtığı politik baskı ve iş birliği krizinin oluşturduğu küresel güvenlik sorunları</li>
                <li>Chair:</li>
                <li>Co-Chair:</li>
            </ul>
        </details>
        <details>
            <summary>SPECPOL</summary>
            <img src="..\static\img\specpol.jpeg" width="200">
            <ul>
                <li>Gündem: Hindistan, Pakistan ve Çin arasında sınır anlaşmazlıklarına neden olan Keşmir Bölgesi</li>
                <li>Chair:</li>
                <li>Co-Chair:</li>
            </ul>
        </details>
        <details>
            <summary>UNWOMEN</summary>
            <img src="..\static\img\unwomen.jpeg" width="200">
            <ul>
                <li>Gündem: Küresel çapta kadınlara tanınan yetersiz eğitim sistemleri</li>
                <li>Chair:</li>
                <li>Co-Chair:</li>
            </ul>
        </details>
    </body>
</html>
