<!DOCTYPE html>
<html lang="en">
    <head>
        <title>YELMUN'25</title>
        <style>
            body {
                font-family: 'Arial', sans-serif; 
            }
        </style>
        <link rel="stylesheet" href="../static/css/social.css">
    </head>
    <body>
        <div class="navbar">
            <!-- Sağdaki bağlantılar -->
            <div class="nav-links">
              <a href="./">Ana Sayfa</a>
              <a href="./kadromuz">Kadromuz</a>
              <a href="./komiteler">Komiteler</a>
              <a href="./socialandmail">İletişim</a>
              <a href="./vizyonumuz">Vizyonumuz</a>
              <a href="./">Başvuru Formu</a>
            </div>
        </div>
        <img src="..\static\img\logobu.jpeg" width="80">
        <h1>MİSYONUMUZ</h1>
        <p>Konferansımızın temel misyonu; katılımcılara küresel sorunlara duyarlı, eleştirel düşünebilen, çözüm odaklı ve diplomatik iletişim becerilerine sahip bireyler olma yolunda ilham vermektir.
            Amacımız, genç delegelere Birleşmiş Milletler sistemini ve uluslararası ilişkilerin dinamiklerini yakından tanıma fırsatı sunarken, aynı zamanda liderlik,
            takım çalışması ve müzakere yeteneklerini geliştirebilecekleri yapıcı bir ortam sağlamaktır.
            Barış, adalet ve sürdürülebilir kalkınma ilkeleri doğrultusunda; farklı kültürlerden gelen katılımcıların bir araya gelerek fikir alışverişinde bulunabileceği, birbirlerini anlayabileceği
            ve birlikte çözüm üretebileceği bir platform sunmayı hedefliyoruz.
            </p>
    </body>
</html>
