<!DOCTYPE html>
<html lang="en">
    <head>
        <title>YELMUN'25</title>
        <style>
            body {
                font-family: 'Arial', sans-serif; 
            }
        </style>
        <link rel="stylesheet" href="../static/css/social.css">
    </head>
    <body>
        <div class="navbar">
            <!-- Sağdaki bağlantılar -->
            <div class="nav-links">
              <a href="./">Ana Sayfa</a>
              <a href="./kadromuz">Kadromuz</a>
              <a href="./komiteler">Komiteler</a>
              <a href="./misyonumuz">Misyonumuz</a>
              <a href="./vizyonumuz">Vizyonumuz</a>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSfgmshGeOw43Eburh_Xv-zIpLX-StK3V3IF4P3PGzu4yWWKOg/viewform">Başvuru Formu</a>
            </div>
        </div>
        <img src="..\static\img\logobu.jpeg" width="80">
        <h1>İLETİŞİM BİLGİLERİ</h1>
        <ul>
            <li>İnstagram: @yelmun2025</li>
            <li>Tiktok: @yelmun2025</li>
            <li>E-mail: yelmun2025@gmail.com</li>
        </ul>
    </body>
</html>