<!DOCTYPE html>
<html lang="en">
    <head>
        <title>YELMUN'25</title>
        <style>
            body {
                font-family: 'Arial', sans-serif; 
            }
        </style>
        <link rel="stylesheet" href="../static/css/social.css">
    </head>
    <body>
        <div class="navbar">
            <!-- Sağdaki bağlantılar -->
            <div class="nav-links">
              <a href="./">Ana Sayfa</a>
              <a href="./kadromuz">Kadromuz</a>
              <a href="./komiteler">Komiteler</a>
              <a href="./socialandmail">İletişim</a>
              <a href="./misyonumuz">Misyonumuz</a>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSfgmshGeOw43Eburh_Xv-zIpLX-StK3V3IF4P3PGzu4yWWKOg/viewform">Başvuru Formu</a>
            </div>
        </div>
        <img src="..\static\img\logobu.jpeg" width="80">
        <h1>VİZYONUMUZ</h1>
        <p>Konferansımızın vizyonu, genç bireylerin küresel sorunlara çözüm üretebilen, çok yönlü düşünebilen ve etkili iletişim becerilerine sahip liderler olarak yetişmelerine katkı sağlamaktır.
            Farklı düşüncelerin özgürce ifade edildiği, kültürel çeşitliliğin bir zenginlik olarak benimsendiği ve her katılımcının aktif rol aldığı bir ortam sunmayı hedefliyoruz.
            Vizyonumuz; yalnızca bugünün değil, geleceğin de dünyasını şekillendirecek bilinçli bireyler için ilham verici ve sürdürülebilir bir MUN deneyimi oluşturmaktır.</p>
    </body>
</html>